.events-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 400px; */
}

.event-swiper > div {
  width: 100%;
  max-width: var(--max-elements-width);
  /* height: 420px; */
}

@media screen and (max-width: 550px) {
  .event-swiper > div {
    height: auto;
  }
}
