@charset "UTF-8";
@import url("./fonts.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-tap-highlight-color: transparent;
}

.page-section {
  scroll-margin-top: 100px;
}

@media screen and (max-width: 800px) {
  .page-section {
    scroll-margin-top: 0px;
  }
}

body {
  overflow-x: hidden;
  --max-elements-width: 1600px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* setting the color variables */
:root {
  --black: rgb(17, 24, 28);
  --light-black: rgba(17, 24, 28, 0.8);
  --lighter-black: rgba(17, 24, 28, 0.5);
  --lightest-black: rgba(17, 24, 28, 0.3);

  --white: rgb(249, 249, 249);

  --primary-bg: rgb(255, 255, 255);
  --secondary-bg: rgb(245, 248, 252);
  --third-level-bg: rgb(247, 248, 249);

  --text-primary: rgb(17, 24, 28);
  --text-secondary: rgba(0, 0, 0, 0.7);
  --text-white: rgba(249, 249, 249, 0.95);

  --highlighted-color: rgb(59, 130, 246);
  --light-highlighted-color: rgb(219, 234, 254);

  --nav-height: 80px;
}

/** utility classes */

.highlighted-text {
  color: var(--highlighted-color);
}

.secondary-text {
  color: var(--text-secondary);
}

.section-header {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.section-header p,
.section-header h2 {
  text-align: left;
  padding: 7px 0px;
}

.section-header h2 {
  font-size: 2.7rem;
  font-weight: 600;
}

.section-heading {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 590;
  color: var(--black);
  line-height: 32px;
}

.section-sub-heading {
  text-align: center;
  color: var(--text-secondary);
}

.primary-button {
  text-decoration: none;
  color: var(--text-white);
  padding: 0px 29px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 9;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.primary-button.header-btn {
  padding: 0px 20px;
  height: 40px;
  font-size: 18px;
}
.primary-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--highlighted-color);
  border-radius: 5px;
  z-index: -2;
}

.primary-button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--black);
  border-radius: 5px;
  z-index: -1;
  transition: 0.25s;
}

.primary-button:hover:after {
  width: 100%;
}

.button-link {
  text-decoration: none;
  color: var(--text-primary);
  transition: 0.25s;
}

.button-link:hover {
  color: var(--highlighted-color);
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-heading {
  font-style: normal;
  font-weight: 400;
  font-size: 1.49rem;
  line-height: 29px;
  letter-spacing: 0.01em;

  color: var(--text-primary);
}

.combined-inputs {
  display: flex;
  gap: 20px;
}

.combined-inputs > div {
  width: 100%;
}

.error-message {
  color: red;
  font-size: 1.1rem;
  margin-top: 5px;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** Dialogs global styles */
.dialog-container {
  width: 100%;
  height: clamp(500px, 100svh, 100%);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  transition: 0.25s;
}

.dialog-container.open {
  pointer-events: all;
  backdrop-filter: blur(5px);
  background-color: rgba(240, 248, 255, 0.24);
}

dialog[open] {
  opacity: 1;
}

dialog {
  opacity: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  transition: 0.25s;
  transition: all 0.25s allow-discrete;
  border: none;
  background-color: var(--primary-bg);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);
  border-radius: 14px;
}

@starting-style {
  .message-dialog[open] {
    opacity: 0;
  }
}

@media screen and (max-width: 1650px) {
  body {
    --max-elements-width: 90vw !important;
  }
  :root {
    --nav-height: 4.5rem;
  }
}
@media screen and (max-width: 1500px) {
  :root {
    --nav-height: 4rem;
  }
}
@media screen and (max-width: 1400px) {
  .primary-button {
    font-size: 18px;
    height: fit-content;
    padding: 10px 20px;
    width: fit-content;
  }
}
@media screen and (max-width: 1450px) {
  :root {
    --nav-height: 3.7rem;
  }
}
@media screen and (max-width: 1080px) {
  .section-header {
    flex-direction: column;
  }
  .section-header p,
  .section-header h2 {
    text-align: center;
    padding: 2px 0px;
  }
}
@media screen and (max-width: 800px) {
  :root {
    --nav-height: 70px;
  }
}
@media screen and (max-width: 700px) {
  .section-heading {
    font-size: 3rem !important;
    line-height: 3rem;
  }
  .combined-inputs {
    flex-direction: column;
    gap: 40px;
  }
}
@media screen and (max-width: 450px) {
  .section-heading {
    font-size: 2rem !important;
    line-height: 2.4rem;
  }
}
