header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 0.7px solid var(--lightest-black);
  background-color: var(--primary-bg);
  padding: 0px 0px;
  z-index: 9999;
}

header nav {
  width: 100%;
  max-width: var(--max-elements-width);
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

#logo {
  height: 60px;
}

#logo > img {
  width: 60px;
  aspect-ratio: 1;
}

.activities,
.nav-links-container {
  list-style: none;
  display: inline-flex;
  gap: 24px;
  position: relative;
  cursor: pointer;
}

.nav-link a {
  font-size: 1.12rem;
  line-height: normal;
  color: var(--text-primary);
  text-decoration: none;
  transition: 0.25s;
}

.nav-link a.active,
.nav-link a:is(:hover, :focus) {
  color: var(--highlighted-color);
}

.navbar-toggler {
  width: 35px;
  height: 32px;
  padding: 0px 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  transition: 0.25s;
  cursor: pointer;
  background-color: var(--highlighted-color);
  color: var(--text-white);
}

.navbar-toggler > svg {
  height: 1.1rem;
}

#avatar {
  height: 50px;
}

#avatar > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center center;
  cursor: pointer;
}

@media screen and (max-width: 1650px) {
  #logo {
    height: 50px;
  }
  #logo > img {
    width: 50px;
  }
  .nav-links-container {
    gap: 18px;
  }
  .nav-link a {
    font-size: 1rem;
  }
  #avatar,
  #avatar > img {
    width: 45px;
    height: 45px;
  }
  .primary-button.header-btn {
    padding: 0px 17px;
    height: 36px;
    font-size: 15px;
  }
}

@media screen and (max-width: 1500px) {
  #logo {
    height: 45px;
  }
  #logo > img {
    width: 45px;
  }
  .nav-links-container {
    gap: 17px;
  }
  .nav-link a {
    font-size: 0.95rem;
  }
  #avatar,
  #avatar > img {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 1450px) {
  #logo {
    height: 40px;
  }
  #logo > img {
    width: 40px;
  }
  .nav-links-container {
    gap: 15px;
  }
  .nav-link a {
    font-size: 0.85rem;
  }
  #avatar,
  #avatar > img {
    width: 35px;
    height: 35px;
  }

  .primary-button.header-btn {
    padding: 0px 15px;
    height: 32px;
    font-size: 13px;
  }
}

@media screen and (max-width: 800px) {
  #avatar,
  #avatar > img {
    width: 35px;
    height: 35px;
  }
  nav {
    position: relative;
    height: 65px;
  }

  .nav-links-container {
    flex-direction: column;
    position: absolute;
    top: 68px;
    width: 100%;
    height: fit-content;
    background-color: var(--primary-bg);
    border-radius: 10px;
    padding: 1rem;
    gap: 0.25rem;
    transform: scaleY(0);
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    transition: 0.25s;
    transform-origin: top;
  }

  .nav-links-container.open {
    transform: scaleY(1);
  }

  .nav-links-container p,
  .nav-link a {
    font-size: 1rem;
    font-weight: 500;
    display: block;
    padding: 0.5rem 15px;
    border-radius: 5px;
  }

  .nav-link:hover a,
  .nav-link a:is(:hover, :focus) {
    background-color: var(--third-level-bg);
  }

  .nav-link a.active {
    background-color: var(--highlighted-color);
    color: var(--text-white);
  }
}
