/* -------- hero - top section styling starts here -------- */
.hero-section {
  width: 100%;
  max-width: var(--max-elements-width);
  height: clamp(100svh, 0px, 1200px);
  max-height: 1200px;
  padding-top: var(--nav-height);
}

.hero-section-container {
  width: 100%;
  max-width: var(--max-elements-width);
  height: 100%;
  gap: 100px;
  justify-content: space-between !important;
  --image-slider-height: 600px;
}

.hero-section-left {
  min-height: calc(var(--image-slider-height) + 80px);
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  gap: 20px;
}

.mscsc-tag {
  width: 100%;
  max-width: 137px;
  height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  background: var(--secondary-bg);
  box-shadow: 0px 0px 1.1px rgba(0, 0, 0, 0.25);
  border-radius: 43.5px;
  padding: 0px 20px;
  position: relative;
  z-index: 99;
  overflow: hidden;
  transition: 1s;
}

.mscsc-tag.active {
  max-width: 300px;
}

.mscsc-tag p:not(.name) {
  font-size: 20px;
  color: var(--black);
  font-weight: 500;
  min-width: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mscsc-tag .name {
  background-color: var(--highlighted-color);
  width: 100px;
  height: 35px;
  border-radius: 20px;
  color: var(--text-white);
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 22px;
  position: absolute;
  right: 20px;
}

.mscsc-tag .name::before {
  content: "";
  position: absolute;
  width: 115px;
  height: 47px;
  border-radius: 95.5px;
  background-color: inherit;
  opacity: 0.2;
  z-index: -1;
}

.btns {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.btns > .primary-button {
  width: fit-content;
  height: fit-content;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.25rem;
  /* height: 50px; */
}

.hero-section-right {
  gap: 20px;
}

.join-btn {
  text-decoration: none;
  width: 100%;
  height: 60px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: var(--secondary-bg);
  box-shadow: 0px 0px 1.1px rgba(0, 0, 0, 0.25);
  transition: 0.25s;
}

.join-btn:hover {
  background-color: var(--highlighted-color);
}

.join-btn:hover p {
  color: var(--text-white);
}

.join-btn:hover .pulse {
  background-color: var(--text-white);
}

.join-btn:hover p:has(i) {
  transform: translateX(5px);
}

.join-btn > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pulse {
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--highlighted-color);
  position: relative;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.join-btn p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-primary);
  transition: 0.25s;
}

@media screen and (max-width: 1650px) {
  .hero-section-container {
    --image-slider-height: 500px;
  }
  .hero-section-left {
    min-height: calc(var(--image-slider-height) + 75px);
    max-width: 800px;
    gap: 30px;
  }
  .mscsc-tag {
    max-width: 107px;
    height: 45px;
    padding-left: 17px;
  }

  .mscsc-tag.active {
    max-width: 264px;
  }

  .mscsc-tag p:not(.name) {
    font-size: 17px;
  }

  .mscsc-tag .name {
    width: 80px;
    height: 27px;
    letter-spacing: normal;
    font-size: 15px;
    font-weight: 450;
    right: 13px;
  }

  .mscsc-tag .name::before {
    width: 95px;
    height: 38px;
  }
  .join-btn {
    height: 55px;
  }

  .join-btn p {
    font-size: 1.05rem;
  }

  .join-btn .pulse {
    width: 13px;
  }
}

@media screen and (max-width: 1500px) {
  .hero-section {
    margin-top: 0px;
  }

  .hero-section-container {
    --image-slider-height: 455px;
  }

  .mscsc-tag {
    height: 37px;
    max-width: 98px;
  }
  .mscsc-tag.active {
    max-width: 233px;
  }

  .mscsc-tag p:not(.name) {
    font-size: 0.9rem;
  }

  .mscsc-tag .name {
    width: 72px;
    font-size: 0.85rem;
    font-weight: 400;
    height: 23px;
  }

  .mscsc-tag .name::before {
    width: 84px;
    height: 33px;
  }

  .join-btn {
    height: 47px;
  }

  .join-btn > div {
    gap: 15px;
  }

  .pulse {
    width: 10px;
  }

  .join-btn p {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1370px) {
  .hero-section-container {
    --image-slider-height: 400px;
    justify-content: center !important;
  }
}

@media screen and (max-width: 1080px) {
  .hero-section {
    padding-top: 0px;
    width: 100vw;
    max-width: none;
    min-height: 550px;
    min-height: 100svh;
    height: 100%;
    position: relative;
    padding-top: calc(var(--nav-height));
  }
  /* .hero-section::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
  } */
  .hero-section-container {
    flex-direction: column;
    gap: 30px;
    height: fit-content;
  }
  .hero-section-left {
    z-index: 11;
    align-items: center;
    text-align: center;
    min-height: 0px;
    gap: 3rem;
  }
  .mscsc-tag {
    display: none;
  }
  .club-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .join-btn {
    z-index: 99;
  }
  .join-btn p:has(i) {
    display: none;
  }
  .shape {
    width: 100%;
    position: absolute;
    bottom: -20px;
    z-index: 9;
  }

  .shape path {
    fill: var(--primary-bg);
  }

  .hero-section-right {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  main.page-home {
    padding-top: 0px;
  }
  .hero-section {
    padding: 0px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
}

@media screen and (max-height: 550px) {
  .hero-section {
    margin-top: 20px;
  }
}

@media screen and (max-width: 520px) {
  .shape {
    bottom: -10px;
  }
}

@media screen and (max-width: 450px) {
  .hero-section {
    max-height: 700px;
  }
  .hero-section-container {
    gap: 20px;
  }
  .hero-section .primary-button {
    padding: 7px 20px;
    width: fit-content;
    height: fit-content;
    font-size: 1rem;
  }
  .about-article-right > div:has(img) {
    gap: 10px;
  }
  .about-article-right > div:has(img) > img {
    width: calc(50% - 5px);
  }
  p.secondary-text {
    font-size: 0.8rem;
    line-height: 18px;
  }
}
