#auth:has(.login-container) {
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}

.auth-container.login-container {
  min-width: 0px;
}

.login-container {
  max-width: 500px !important;
  min-width: 0px;

  padding: 40px 40px;
  padding-top: 30px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.login-form {
  margin-top: 60px;
  justify-self: center;
  gap: 2.5rem;
}

@media screen and (max-width: 470px) {
  .login-container {
    box-shadow: none;
    padding: 0px;
  }
}
