.page-forgot {
  width: 100%;
  max-width: var(--max-elements-width);
  height: 100svh;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: calc(var(--nav-height));
}

.page-forgot > div {
  width: 100%;
  max-width: 450px;
  padding: 50px 30px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.forgot-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.forgot-logo {
  width: 110px;
  aspect-ratio: 1;
  background-color: var(--highlighted-color);
  border-radius: 50%;
}

.forgot-logo > img {
  width: 55px;
  aspect-ratio: 1;
}

.forgot-info h2 {
  font-weight: 500;
  font-size: 2rem;
  line-height: 30px;
  margin: 10px 0px 5px 0px;
}

.forgot-info p {
  font-weight: 400;
  font-size: 1rem;
  line-height: 19px;
  margin: 0px;
  color: var(--text-secondary);
}

.forgot-form .input-text,
.forgot-form {
  width: 100%;
}

.forgot-form form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.forgot-form .submit-btn-container {
  width: 100%;
}

.forgot-form .primary-button {
  width: 100%;
  padding: 7px 0px;
  height: fit-content;
  font-size: 1.2rem;
  text-align: center;
}

/* .otp-input {
    width: ;
} */

@media screen and (max-width: 450px) {
  .page-forgot > div {
    padding: 0px;
    box-shadow: none;
    gap: 1rem;
  }
  .forget-info {
    margin-bottom: 1.5rem;
  }
}
