#executives {
  width: 100%;
  padding: 130px 0px;
  height: 100%;
  gap: 20px;
  background-color: var(--secondary-bg);
}

#executives > div {
  width: 100%;
  max-width: var(--max-elements-width);
}

.executives-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}
