.dashboard-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dashboard-header h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  line-height: 39px;
  text-transform: uppercase;

  color: var(--text-primary);
}

.dashboard-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.79);
}
