/* -------- hero - top section styling starts here -------- */
.hero-section {
  width: 100%;
  max-width: var(--max-elements-width);
  height: 100%;
  min-height: 100svh;
  padding-top: 90px;
}

.hero-section-container {
  width: 100%;
  max-width: var(--max-elements-width);
  height: 100%;
  gap: 100px;
  justify-content: space-between;
  --image-slider-height: 600px;
}

.hero-section-left {
  min-height: 680px;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
  gap: 20px;
}

.mscsc-tag {
  width: 100%;
  /*TODO: from 160px to 470px */
  max-width: 160px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  gap: 20px;

  background: var(--secondary-bg);
  box-shadow: 0px 0px 1.1px rgba(0, 0, 0, 0.25);
  border-radius: 43.5px;
  padding: 0px 20px;
  position: relative;
  z-index: 99;
  overflow: hidden;
  transition: 1s;
}

.mscsc-tag.active {
  max-width: 470px;
}

.mscsc-tag p:not(.name) {
  font-size: 20px;
  color: var(--black);
  font-weight: 500;
  min-width: fit-content;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mscsc-tag .name {
  background-color: var(--highlighted-color);
  width: 120px;
  height: 40px;
  border-radius: 20px;
  color: var(--text-white);
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  position: absolute;
  right: 20px;
}

.mscsc-tag .name::before {
  content: "";
  position: absolute;
  width: 135px;
  height: 56px;
  border-radius: 95.5px;
  background-color: inherit;
  opacity: 0.2;
  z-index: -1;
}

.club-intro h1 {
  max-width: 17ch;
  font-size: 3.9rem;
  text-transform: uppercase;
  line-height: 3.5rem;
  color: var(--text-primary);
  font-weight: 600;
}
.club-intro .highlighted-text {
  display: block;
}

.club-intro p {
  max-width: 55ch;
  font-size: 1.2rem;
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: 450;
}

.club-stats h3 {
  font-weight: 450;
  padding-bottom: 7px;
}

.hero-section-right {
  gap: 20px;
}

.images-container {
  background-color: var(--secondary-bg);
  max-width: 730px;
  min-width: 600px;
  overflow: hidden;
  border-radius: 16px;
}

.hero-img > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center center;
}

.join-btn {
  text-decoration: none;
  width: 100%;
  height: 60px;
  border-radius: 16px;
  justify-content: space-between;
  padding: 0px 30px;
  background-color: var(--secondary-bg);
  box-shadow: 0px 0px 1.1px rgba(0, 0, 0, 0.25);
  transition: 0.25s;
}

.join-btn:hover {
  background-color: var(--highlighted-color);
}

.join-btn:hover p {
  color: var(--text-white);
}

.join-btn:hover .pulse {
  background-color: var(--text-white);
}

.join-btn:hover p:has(i) {
  transform: translateX(5px);
}

.join-btn > div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.pulse {
  width: 13px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--highlighted-color);
  position: relative;
  animation: pulse-animation 2s infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }
}

.join-btn p {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--text-primary);
  transition: 0.25s;
}
/* --------- hero - top section styling ends here -------- */

/* -------- hero - bottom section styling starts here -------- */
.club-stats-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.stats {
  display: flex;
  align-items: center;
  color: var(--text-primary);
}

.stats-number {
  --number-value-1-digit: 26px;
  --number-value-2-digit: 51px;
  font-size: 40px;
  font-weight: 420;
}

.number-value {
  display: inline-block;
  min-width: var(--number-value-2-digit);
}

.number-value:not([value="20"]) {
  min-width: var(--number-value-1-digit);
}

.stats-name {
  padding-left: 6px;
  font-size: 1.1rem;
  line-height: 22px;
  font-weight: 500;
}

/* ----------- hero - bottom styling ends here ------------- */
