.message-dialog {
  min-width: 800px;
  max-width: 800px;
  padding: 50px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.message-name-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.message-name-container > h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 48px;

  color: var(--text-primary);
}

.close {
  background-color: transparent;
  border: none;
  color: var(--text-primary);
  font-size: 2rem;
  cursor: pointer;
  transition: 0.25s;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.25s;
}

.close:hover {
  color: var(--highlighted-color);
}

.subject > h3,
.message > h3 {
  font-weight: 500;
  font-size: 32px;
  color: var(--text-primary);
}

.subject > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: var(--text-primary);
}

.message > p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-primary);
  opacity: 0.8;
}

.message-dialog > .primary-button {
  width: fit-content;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .message-dialog {
    min-width: 70vw;
    padding: 25px;
  }
}
