@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

html {
  scroll-behavior: smooth; /* makes the page link transition smooth */
}

.page-section {
  scroll-margin-top: 100px;
}

@media screen and (max-width: 800px) {
  .page-section {
    scroll-margin-top: 0px;
  }
}

body {
  overflow-x: hidden;
  --max-elements-width: 1550px;
}

/* setting the color variables */
:root {
  --black: rgb(17, 24, 28);
  --light-black: rgba(17, 24, 28, 0.8);
  --lighter-black: rgba(17, 24, 28, 0.5);
  --lightest-black: rgba(17, 24, 28, 0.3);

  --white: rgb(249, 249, 249);

  --primary-bg: rgb(255, 255, 255);
  --secondary-bg: rgb(245, 248, 252);
  --third-level-bg: rgb(247, 248, 249);

  --text-primary: rgb(17, 24, 28);
  --text-secondary: rgba(0, 0, 0, 0.7);
  --text-white: rgba(249, 249, 249, 0.95);

  --highlighted-color: rgb(59, 130, 246);
}

/** utility classes */

.highlighted-text {
  color: var(--highlighted-color);
}

.secondary-text {
  color: var(--text-secondary);
  line-height: 33px;
}

.section-header {
  align-self: flex-start;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.section-header p,
.section-header h2 {
  text-align: left;
  padding: 7px 0px;
}

.section-header h2 {
  font-size: 2.7rem;
  font-weight: 600;
}

.section-heading {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 620;
  color: var(--black);
  line-height: 28px;
}

.section-sub-heading {
  text-align: center;
  color: var(--text-secondary);
}

.primary-button {
  text-decoration: none;
  color: var(--text-white);
  padding: 0px 29px;
  font-size: 20px;
  border-radius: 5px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 9;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.primary-button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--highlighted-color);
  border-radius: 5px;
  z-index: -2;
}

.primary-button::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--black);
  border-radius: 5px;
  z-index: -1;
  transition: 0.25s;
}

.primary-button:hover:after {
  width: 100%;
}

.button-link {
  text-decoration: none;
  color: var(--text-primary);
  transition: 0.25s;
}

.button-link:hover {
  color: var(--highlighted-color);
}

.col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-toggler,
.curve {
  display: none;
}

/* ------- navbar styling starts here ------- */

header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-bottom: 0.7px solid var(--lightest-black);
  background-color: var(--primary-bg);
  padding: 0px 40px;
  z-index: 9999;
}

nav {
  width: 100%;
  max-width: var(--max-elements-width);
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo > img {
  width: 79px;
  height: 75px;
}

.activities,
.nav-links-container {
  list-style: none;
  display: inline-flex;
  gap: 24px;
  position: relative;
  cursor: pointer;
}

.activities {
  display: block;
  position: absolute;
  top: 30px;
  margin-left: -10px;
  background-color: var(--primary-bg);
  height: 0px;
  padding: 0px 30px 0px 20px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 14px 12px;
  overflow: hidden;
  transition: 0.25s;
}

.button-link[dropdown="true"]:hover ~ .activities,
.activities:hover {
  padding-top: 30px;
  padding-bottom: 20px;
  height: calc(58px + 30px + 20px);
}

.nav-link a,
.nav-link p {
  font-size: 1.2rem;
  line-height: normal;
}

.nav-link a.active {
  color: var(--highlighted-color);
}

.nav-link i {
  font-size: 1.05rem;
  opacity: 0.7;
}

.navbar-toggler {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 10px;
  font-size: 19px;
  transition: 0.25s;
  cursor: pointer;
}
.navbar-toggler:is(:hover, :focus) {
  background-color: transparent;
  color: var(--black);
}

.navbar-toggler:not(:is(:hover, :focus)) {
  background-color: var(--highlighted-color);
  color: var(--text-white);
}

/* ------- navbar styling ends here ------- */

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(90px + 40px);
}

/* -------- hero - top section styling starts here -------- */

.hero-section {
  width: 100%;
  max-width: var(--max-elements-width);
  height: 100%;
  min-height: calc(100vh - 90px);
  gap: 100px;
  padding-bottom: 40px;
}

.hero-section-upper {
  width: 100%;
  gap: 110px;
  justify-content: space-between !important;
}

.hero-section-description h1 {
  max-width: 17ch;
  font-size: 3.9rem;
  text-transform: uppercase;
  line-height: 3.5rem;
  color: var(--text-primary);
  font-weight: 600;
}
.hero-section-description .highlighted-text {
  display: block;
}

.hero-section-description p {
  max-width: 48ch;
  font-size: 1.2rem;
  margin: 25px 0px 25px 0px;
  font-weight: 450;
}

.hero-section-images {
  --big-image-width: 600px;
  --big-image-height: 450px;
  --small-image-width: 300px;
  --small-image-height: 230px;

  width: var(--big-image-width);
  height: var(--big-image-height);
  position: relative;
  margin: 0px 0px 50px 105px;
}

.primary-image {
  position: relative;
  width: var(--big-image-width);
  height: var(--big-image-height);
  border-radius: 41px;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.secondary-image,
.image-active-2 {
  width: var(--small-image-width);
  height: var(--small-image-height);
  position: absolute;
  bottom: -49px;
  left: -106px;
  z-index: 99;
  border-radius: 22px;
  filter: drop-shadow(5px -3px 12.9px rgba(0, 0, 0, 0.25));
}
.image-active-1 {
  position: relative;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: var(--big-image-width);
  height: var(--big-image-height);
  border-radius: 41px;
}

.img-1,
.img-2 {
  transition: 0.24s;
  cursor: grab;
  object-fit: cover;
  object-position: center center;
}

/* --------- hero - top section styling ends here -------- */

/* -------- hero - bottom section styling starts here -------- */
.club-stats-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.stats {
  display: flex;
  align-items: center;
  color: var(--text-primary);
}

.stats-number {
  --number-value-1-digit: 43px;
  --number-value-2-digit: 83px;
  font-size: 4.4rem;
  font-weight: 420;
}

.number-value {
  display: inline-block;
  width: var(--number-value-2-digit);
}

.number-value:not([value="20"]) {
  width: var(--number-value-1-digit);
}

.stats-name {
  padding-left: 10px;
  font-size: 1.35rem;
  line-height: 25px;
  font-weight: 520;
}

/* ----------- hero - bottom styling ends here ------------- */

/* ---------- about us section starts here --------- */

#about {
  width: 100%;
  max-width: var(--max-elements-width);
  gap: 100px;
  padding: 80px 0px;
}

.about-article-container {
  width: 100%;
  gap: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.club-description {
  max-width: 75ch;
}

.club-description > p:not(.secondary-text) {
  font-size: 1.5rem;
  font-weight: 510;
  margin-bottom: 10px;
}

.club-description > h2 {
  font-size: 4rem;
  font-weight: 560;
  line-height: 70px;
  margin-bottom: 13px;
}

.club-description p.secondary-text {
  line-height: normal;
}

.benefits-container {
  margin: 60px 0px 33px 0px;
  gap: 30px;
  justify-content: space-between;
}

.benefit img {
  width: 53px;
  height: 49px;
}

.benefit h3 {
  font-weight: 520;
  margin: 7px 0px;
}

.about-article-container > img {
  max-width: 680px;
  height: 650px;
  object-fit: cover;
  object-position: center center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

/* ------------------- departments part starts here ---------------- */

.dpts-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dpts-section > div > p {
  margin: 20px 0px 10px 0px;
}

.dpt-container {
  width: 100%;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.dpt {
  list-style: none;
  min-width: 160px;
  min-height: 230px;
  flex: 1;
  border-radius: 15px;
  background-color: var(--third-level-bg);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  gap: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.dpt path {
  fill: var(--highlighted-color);
}

.dpt:hover path {
  fill: var(--text-white);
}

.dpt p,
.dpt .icon {
  z-index: 9;
  transition: 0.2s;
}

.dpt:hover p {
  color: var(--text-white);
}

.dpt::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  background: var(--highlighted-color);
  transition: 0.25s;
}

.dpt:hover:before {
  width: 100%;
}

/* ---------- departments part ends here ---------- */

/* ----------- about us section ends here ---------  */

/* ------------ events section starts here ----------- */
#event {
  padding: 90px 0px;
  height: 100%;
  width: 100vw;
  background-color: var(--secondary-bg);
  gap: 20px;
}

#event > div {
  width: 100%;
  max-width: var(--max-elements-width);
}

.event-status-nav {
  width: 400px;
  padding: 6px 6px;
  justify-content: space-between;
  border: 0.3px solid var(--lightest-black);
  border-radius: 80px;
  margin-bottom: 50px;
}
.event-status-nav > button {
  padding: 4px 14px;
  border-radius: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.25s;
}

.event-status-nav > button:hover,
.event-status-nav > button.nav-active {
  background-color: var(--highlighted-color);
  color: var(--text-white);
}

.swiper {
  width: 100%;
  max-width: var(--max-elements-width);
  height: 420px;
}

.swiper-slide {
  width: calc((var(--max-elements-width) - 40px) / 3) !important;
  height: 350px;
  display: flex;
  border-radius: 13px;
  background: rgb(250, 251, 253);
  overflow-x: hidden;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
}

.swiper-slide img {
  width: 210px;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.swiper-slide article {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.event-tags {
  display: flex;
  gap: 7px;
}

.event-tags span {
  padding: 4px 10px;
  font-size: 0.8rem;
  color: var(--highlighted-color);
  border: 0.3px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.swiper-slide article h3 {
  font-size: 1.4rem;
  line-height: 30px;
  color: var(--black);
  margin: 20px 0px 15px 0px;
  font-weight: 520;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide article p:not(:has(span)) {
  font-size: 0.8rem;
  line-height: 19px;
  margin-bottom: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.swiper-slide article a {
  text-decoration: none;
  font-size: 1.1rem;
  color: var(--light-black);
  transition: 0.25s;
}

.swiper-slide article a:hover {
  opacity: 0.8;
}

/* -------------------- events section ends here ----------- */

/* ------------------ articles section starts here --------------- */

#articles {
  padding: 100px 0px;
  height: 100%;
  width: 100vw;
  max-width: var(--max-elements-width);
  gap: 20px;
}

.articles-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.article {
  max-width: 430px;
}

.article img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 13px;
}

.category-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.category {
  color: rgb(255, 90, 0);
}

.date {
  opacity: 0.5;
  font-weight: 500;
  font-size: 0.9rem;
}

.article > h3 {
  margin-top: 5px;
  font-weight: 520;
  font-size: 1.5rem;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.article > p {
  margin-top: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
  line-height: 20px;
  margin-bottom: 7px;
  opacity: 0.9;
}

.articles-container a {
  text-decoration: none;
  color: var(--highlighted-color);
}

.articles-container a i {
  transition: 0.25s;
}

.articles-container a:is(:hover) i {
  transform: translateX(5px);
}
.articles-container a:is(:hover) {
  opacity: 0.8;
}

/* ------------------ articles section ends here --------------- */

/* ------------------ executives part starts here ------------- */

#executives {
  width: 100%;
  padding: 130px 0px;
  height: 100%;
  gap: 20px;
  background-color: var(--secondary-bg);
}

#executives > div {
  width: 100%;
  max-width: var(--max-elements-width);
}

.executives-container {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.executive-member {
  width: min(100%, 300px);
  margin: 0px auto;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.25s;
}
.executive-member > div {
  transition: 0.25s;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.executive-upper {
  width: 100%;
  height: 280px;
  position: relative;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.executive-upper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: 0.25s;
}
.executive-upper::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #474747;
  opacity: 0.5;
  z-index: 9;
  transform: scaleY(0%);
  transform-origin: bottom;
  transition: 0.25s;
}

.member-socials {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  gap: 15px;
  z-index: 99;
}

.member-socials a {
  text-decoration: none;
  opacity: 0;
  transition: 0.25s;
}

.member-socials i {
  font-size: 1.5rem;
  background-color: var(--highlighted-color);
  color: var(--white);
  width: 50px;
  height: 50px;
  transition: 0.25s;
  border-radius: 50%;
}

.member-socials i:hover {
  color: var(--light-black);
}

.executive-member:hover > div {
  transform: translateY(-10px);
}

.executive-member:is(:hover) .executive-upper img {
  scale: 1.1;
}

.executive-member:is(:hover) .executive-upper::after {
  transform: scaleY(100%);
}

.executive-member:is(:hover) .member-socials a {
  opacity: 1;
}

.executive-lower {
  background-color: #fff;
  width: 100%;
  height: 100%;
  min-height: 8.5rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.executive-lower p:not(.secondary-text) {
  text-align: center;
  font-size: 1.525rem;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 3px;
}

.executive-lower p.secondary-text {
  text-align: center;
  font-size: 0.97rem;
  opacity: 0.8;
  max-width: 27ch;
  line-height: normal;
}

/* ------------------ executives part ends here ------------- */

/* ------------------ contact part starts here ------------- */

#contact {
  padding: 100px 0px;
  height: 100%;
  width: 100vw;
  max-width: var(--max-elements-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

#contact .section-heading {
  margin: 5px 0px 20px 0px;
  font-size: 2.4rem;
  font-weight: 550;
  text-align: left;
  text-transform: capitalize;
  line-height: 35px;
}

#contact h3 {
  font-weight: 450;
}

#contact .secondary-text {
  text-align: left;
  max-width: 36rem;
  line-height: normal;
}

.contacts-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact > .icon {
  min-width: 75px;
  height: 75px;
  background-color: var(--highlighted-color);
  border-radius: 10px;
  font-size: 2rem;
  color: var(--text-white);
}

.method-name {
  font-size: 1.2rem;
  font-weight: 450;
  text-transform: uppercase;
}

.content {
  font-size: 1.05rem;
  color: var(--text-secondary);
  text-decoration: none;
  transition: 0.25s;
}

.content:hover {
  text-decoration: underline;
  color: var(--highlighted-color);
  opacity: 0.8;
}

form {
  max-width: 600px;
  min-width: 450px;
  padding: 50px 40px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.name-email {
  width: 100%;
  display: flex;
  gap: 20px;
}

input:not([type="submit"]),
textarea {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid var(--light-black);
  padding-left: 3px;
  font-size: 1.2rem;
  padding-bottom: 5px;
  background-color: transparent;
}

textarea {
  resize: vertical;
  height: 150px;
}

#contact button {
  width: 100%;
}

/* ---------------------- contact section ends here -------------------------- */

/* --------------------- footer section starts here ----------------------- */

footer {
  padding: 20px 40px;
  height: 100px;
  width: 100vw;
  background-color: var(--third-level-bg);
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

footer > div {
  width: 100%;
  max-width: var(--max-elements-width);
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

footer p {
  font-size: 1.11rem;
  font-weight: 500;
  text-align: center;
}

.socials {
  gap: 20px;
}

.socials a {
  text-decoration: none;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  color: var(--text-secondary);
  padding: 10px;
  background-color: rgb(233, 234, 235);
  border-radius: 50%;
  transition: 0.25s;
}

.socials a:hover {
  background-color: var(--highlighted-color);
  color: var(--text-white);
}

/* ---------------- responsive part starts here ---------------- */
@media screen and (max-width: 1600px) {
  body {
    --max-elements-width: 94vw;
  }

  .swiper-slide {
    width: calc(50% - 20px) !important;
  }

  .swiper-slide img {
    min-width: 277px;
    width: 100%;
  }
  .swiper-slide article {
    max-width: 40ch;
  }

  .article {
    max-width: 390px;
  }
}
@media screen and (max-width: 1400px) {
  .hero-section {
    min-height: auto;
  }
  .hero-section-description h1 {
    font-size: 3rem;
    line-height: 45px;
  }

  .hero-section-description p {
    font-size: 1.1rem;
    line-height: 25px;
  }
  .hero-section-images {
    --big-image-width: 500px;
    --big-image-height: 350px;

    --small-image-width: 250px;
    --small-image-height: 180px;
  }

  .stats-number {
    font-size: 3.5rem;
    --number-value-1-digit: 33px;
    --number-value-2-digit: 67px;
  }

  .stats-name {
    font-size: 1rem;
    line-height: 20px;
  }

  .about-article-container > img {
    max-width: 520px;
  }
}

@media screen and (max-width: 1320px) {
  .article {
    max-width: 320px;
  }
  .category,
  .date {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 1200px) {
  .swiper-slide {
    width: calc(50% - 15px) !important;
  }
  .swiper-slide img {
    min-width: 230px;
  }
}

@media screen and (max-width: 1150px) {
  .hero-section-upper {
    gap: 50px;
  }
  .hero-section-images {
    margin: 0;

    --big-image-width: 430px;
    --big-image-height: 330px;
  }
  .secondary-image {
    display: none;
  }
}

@media screen and (max-width: 1080px) {
  .section-header {
    flex-direction: column;
  }
  .section-header p,
  .section-header h2 {
    text-align: center;
  }
  .articles-container {
    flex-wrap: wrap;
    gap: 30px;
  }
  .article {
    width: 330px;
    margin: 0px auto;
  }
  .swiper-slide {
    width: 100% !important;
    min-height: 400px;
  }
  .swiper-slide article {
    max-width: none;
  }

  .club-description h2 {
    font-size: 3rem;
    line-height: 50px;
  }

  .about-article-container > img {
    max-width: 390px;
    height: 390px;
  }
}

@media screen and (max-width: 960px) {
  .stats-number {
    font-size: 3rem;
    --number-value-1-digit: 29px;
    --number-value-2-digit: 56px;
  }
  .stats-name {
    font-size: 0.9rem;
  }
  .club-stats-container {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .stats {
    flex-grow: 1;
    justify-content: center;
  }

  .about-article-container {
    flex-direction: column;
  }

  .about-article-container > img {
    max-width: 100%;
    height: auto;
  }

  #contact,
  #contact .section-heading {
    flex-direction: column;
    text-align: left;
  }

  #contact .section-heading {
    font-size: 2rem;
  }
  form {
    min-width: 0px;
  }
}

@media screen and (max-width: 900px) {
  main {
    padding-top: 0px;
  }
  .hero-section {
    padding: 0px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
  }
  .hero-section-upper {
    gap: 30px;
    width: 100%;
    height: clamp(600px, 100svh, 800px);
  }
  .hero-section-description {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    position: relative;
    text-align: center;
  }
  .hero-section-description::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    z-index: -2;
    top: 0px;
  }
  .upper {
    position: relative;
    z-index: 3;
    padding: 0px 40px;
  }
  .curve {
    display: block;
    width: 100vw;
    position: absolute;
    bottom: -8px;
    z-index: -2;
  }
  .curve svg {
    fill: var(--primary-bg);
  }

  .hero-section-images {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: clamp(600px, 100svh, 800px);
    z-index: -3;
  }
  .primary-image {
    width: 100%;
    height: 100%;
    border-radius: 0px;
    filter: none;
  }
  .hero-section-description h1 {
    max-width: 100%;
    color: var(--text-white);
    font-size: 3rem;
    z-index: 2;
  }

  .hero-section-description p {
    color: var(--text-white);
    opacity: 0.87;
    z-index: 2;
  }

  .stats {
    padding: 0px 20px;
  }
  #about {
    padding: 100px 20px;
  }
}

@media screen and (max-width: 800px) {
  #logo > img {
    width: 50px;
    height: 50px;
  }
  .navbar-toggler {
    display: block;
  }
  nav {
    position: relative;
    height: 70px;
  }

  .nav-links-container {
    flex-direction: column;
    position: absolute;
    top: 73px;
    width: 100%;
    height: fit-content;
    background-color: var(--third-level-bg);
    border-radius: 20px;
    padding: 20px;
    gap: 10px;
    display: none;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
  }

  .nav-links-container p,
  .nav-link a {
    display: block;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px 0px 0px 0px;
  }

  .activities {
    position: static;
    box-shadow: none;
    width: 100%;
    height: 0px;
    margin-left: 0px;
    overflow: hidden;
  }

  .button-link[dropdown="true"]:hover ~ .activities,
  .activities:hover {
    padding-top: 20px;
    padding-bottom: 20px;
    height: 145px;
  }

  .nav-link p:hover,
  .nav-link p:focus,
  .nav-link a:hover,
  .nav-link a.active {
    color: var(--text-white);
    background-color: var(--highlighted-color);
  }

  .articles-container {
    gap: 40px;
  }
  .article {
    max-width: 400px;
    width: 100%;
  }
}

@media screen and (max-width: 720px) {
  footer {
    height: 100%;
    padding: 25px 40px;
  }
  footer > div {
    flex-direction: column-reverse;
    align-items: center;
  }

  .swiper-slide {
    width: 94vw !important;
  }
}

@media screen and (max-width: 600px) {
  .event-status-nav {
    width: auto;
    gap: 20px;
  }
  .section-heading {
    font-size: 2.2rem !important;
  }

  form {
    box-shadow: none;
    padding: 0px;
  }
}

@media screen and (max-width: 520px) {
  .swiper {
    height: auto;
  }
  .swiper-slide {
    flex-direction: column;
    position: relative;
    max-width: 100%;
    height: 620px;
  }
  .swiper-slide img {
    width: 100%;
    height: 100%;
    max-height: 300px;
  }
  .swiper-slide > article {
    width: 100%;
    height: 100%;
  }

  .club-description > h2 {
    font-size: 2.5rem;
  }

  .club-description > p.secondary-text {
    font-size: 0.9rem;
  }

  .benefits-container {
    flex-direction: column;
  }

  /* .about-article-container > img {

  } */
}

@media screen and (max-width: 450px) {
  .about-article-right > div:has(img) {
    gap: 10px;
  }
  .about-article-right > div:has(img) > img {
    width: calc(50% - 5px);
  }
  p.secondary-text {
    font-size: 0.8rem;
    line-height: 18px;
  }

  .hero-section-description h1 {
    font-size: 2.2rem;
    line-height: 33px;
  }
  .section-heading {
    font-size: 2rem !important;
  }
  .event-status-nav {
    gap: 0px;
  }
  .swiper-slide {
    width: 250px;
  }
  .name-email {
    flex-direction: column;
  }
}
