@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

html {
    scroll-behavior: smooth; /* makes the page link transition smooth */
}

/* setting the color variables */
:root {
    --black: rgb(17, 24, 28);    
    --light-black : rgba(17, 24, 28, 0.8);
    --lighter-black : rgba(17, 24, 28, 0.5);
    --lightest-black : rgba(17, 24, 28, 0.3);

    --primary-bg: rgb(255, 255, 255);
    --secondary-bg: rgb(245, 248, 252);
    --third-level-bg: rgb(247, 248, 249);

    --text-primary: rgb(17, 24, 28);
    --test-secondary: rgba(0, 0, 0, 0.7);
    --text-white: rgba(249, 249, 249, 0.95);

    --highlighted-color: rgb(59, 130, 246);
}




/* utility classes */

.highlighted-text {
    color: var(--highlighted-color);
}

.secondary-text {
    color: var(--test-secondary);
    line-height: 33px;
}

.primary-button {
    text-decoration: none;
    background-color: var(--highlighted-color);
    color: var(--text-white);
    padding: 12px 25px;
    font-size: 20px;
}

.button-link {
    text-decoration: none;
    color: var(--text-primary);
    transition: 0.25s;
}

.button-link:hover {
    color: var(--highlighted-color);
}


.navbar-toggler {
    display: none;
}


/* ------- navbar styling starts here ------- */

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 0.7px solid var(--lightest-black);
    background-color: var(--primary-bg);
    padding: 0px 40px;
}

nav {
    width: 100%;
    max-width: 1500px;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo > img {
    width: 79px;
    height: 75px;
}

.nav-links {
    list-style: none;
    display: inline-flex;
    gap: 24px;
}

.nav-link a {
    font-size: 1.2rem;
    line-height: normal;
}

/* ------- navbar styling ends here ------- */


main {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    padding-top: 90px;
}


/* -------- hero section styling starts here -------- */

