.task-info {
  margin-top: 7px;
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  font-size: 0.95rem;
  color: var(--text-secondary);
  align-items: center;
}

.task-info p {
  display: flex;
  gap: 6px !important;
  padding: 0px 10px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  font-size: 0.8rem;
  align-items: center;
}

.task-info p svg {
  width: 13px;
  height: 13px;
}

.task-info p svg.fa-pen-nib,
.task-info p svg.fa-user {
  width: 12px;
  height: 12px;
}

.task-info .champion {
  color: #ff8300;
}

.done {
  color: green;
}

.task-type {
  text-transform: capitalize;
}

.task-submissions,
.task-date {
  background-color: #f7f7f7;
}

.task-icons:has(.done) {
  background-color: #6aea7861;
}

.task-icons:has(.champion) {
  background-color: #ffe82942;
}

.task-date.pending {
  background-color: #9d5ed5;
  color: var(--text-white);
}
