.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-container > input,
.checkbox-container > label {
  cursor: pointer;
}

.checkbox-label {
  font-size: 1.1rem;
  color: var(--text-primary);
}
