main.page-activities {
  width: 100%;
  min-height: calc(100vh);
  max-width: var(--max-elements-width);
  padding-top: calc(var(--nav-height) + 3rem);
  padding-bottom: 100px;

  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1000px) {
  main.page-activities {
    padding-top: calc(var(--nav-height) + 2rem);
    gap: 2.5rem;
  }
}

@media screen and (max-width: 369px) {
  main.page-activities {
    gap: 2.5rem;
  }
}
