.user-form {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.submission {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.state-redirect {
  display: flex;
  gap: 7px;
  font-size: 1.2rem;
  flex-wrap: wrap;
}

.state-redirect > button {
  background-color: transparent;
  border: none;
  color: var(--highlighted-color);
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.25s;
}

.state-redirect > button:hover {
  opacity: 0.6;
}
