.content-container {
  max-width: 100%; /* Set your desired max width */
  font-size: 1.125rem;
  color: var(--text-primary);

  /* overflow: hidden;
  word-wrap: break-word; */
}

.content-container .math-edit-hint {
  display: none;
}

.content-container .math-inline,
.content-container .math-block {
  cursor: inherit;
}

.content-container .math-inline:hover,
.content-container .math-block:hover {
  box-shadow: none;
}

.content-container .math-inline:hover::after,
.content-container .math-block:hover::after {
  display: none;
}

.content-container h1,
.content-container h2,
.content-container h3,
.content-container h4,
.content-container h5,
.content-container strong {
  font-weight: 600;
}

.content-container h1,
.content-container h2 {
  padding-top: 1.5rem;
}

.content-container h1 {
  padding-bottom: 0.5rem;
}

.content-container h3 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.content-container strong {
  font-size: 1.06em;
}

.content-container {
  color: var(--text-primary) !important;
}

.content-container p {
  letter-spacing: 0.3px;
  margin: 0.8em 0;
  line-height: 1.6;
}

.content-container em {
  opacity: 0.9;
}

.content-container sub {
  position: relative;
  top: 0.5ex;
  font-size: 0.8em;
}

.content-container sup {
  position: relative;
  top: -0.5ex;
  font-size: 0.8em;
}

.content-container blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
  font-style: italic;
  font-size: 0.95em;
}

.content-container span[data-emoji-suggestion],
.content-container span[data-emoji-replacer] > img {
  width: 1.1em;
  height: 1.1em;
  margin: 0 0.05em;
  vertical-align: -0.25em;
}

.content-container p.is-editor-empty:first-child::before {
  content: attr(data-placeholder);
  float: left;
  color: rgba(17, 17, 17, 0.3);
  pointer-events: none;
  height: 0;
  font-style: italic;
}

.content-container a {
  color: var(--highlighted-color) !important;
  transition: 0.25s;
  text-decoration: none !important;
  cursor: pointer;
  word-break: break-all;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  overflow-wrap: break-word;
}

.content-container a:hover {
  opacity: 0.7;
}

.content-container ol,
.content-container ul {
  display: flex;
  flex-direction: column;
  padding-left: 2em;
}

.content-container ol {
  list-style: inside lead;
  padding-left: 1.7em;
}

.content-container li p {
  margin: 0.3em 0px;
}

.content-container ol li p {
  display: inline;
}

.content-container ol li::marker {
  color: rgb(59, 130, 246);
  font-size: 1.2rem;
  font-weight: 600;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .content-container {
    font-size: 1rem;
  }
}
