.input-text > input {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid var(--light-black);
  padding-left: 3px;
  font-size: 1.2rem;
  padding-bottom: 5px;
  background-color: transparent;
  transition: border-color 0.2s;
}

.input-text > input:focus {
  outline: none;
  border-bottom-width: 2px;
  border-color: var(--highlighted-color);
  color: black;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
