.club-description {
  max-width: 79ch;
}

.club-description > p:not(.secondary-text) {
  font-size: 1.5rem;
  font-weight: 510;
  margin-bottom: 10px;
}

.club-description > h2 {
  font-size: 4rem;
  font-weight: 560;
  line-height: 70px;
  margin-bottom: 13px;
}

.club-description p.secondary-text {
  line-height: normal;
}

.benefits-container {
  margin: 60px 0px 33px 0px;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start !important;
}

.benefit img {
  width: 53px;
  height: 53px;
}

.benefit h3 {
  font-weight: 520;
  margin: 7px 0px;
}

@media screen and (max-width: 1500px) {
  .club-description > p:not(.secondary-text) {
    font-size: 1.3rem;
    margin-bottom: 0px;
  }
  .club-description > h2 {
    font-size: 3rem;
    line-height: 50px;
  }

  .club-description p.secondary-text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1400px) {
  .club-description > h2 {
    font-size: 2.5rem;
    line-height: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .benefits-container {
    margin-top: 35px;
  }
  .benefit img {
    width: 43px;
    height: 43px;
  }
}

@media screen and (max-width: 1080px) {
  .club-description h2 {
    font-size: 3rem;
    line-height: 50px;
  }
}

@media screen and (max-width: 520px) {
  .club-description > h2 {
    font-size: 2.5rem;
  }

  .club-description > p.secondary-text {
    font-size: 0.9rem;
  }

  .benefits-container {
    flex-direction: column;
  }
}
