#about {
  width: 100%;
  max-width: var(--max-elements-width);
  gap: 100px;
  padding: 80px 0px;
}

.about-article-container {
  width: 100%;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: row-reverse;
}

.club-description {
  max-width: 79ch;
}

.club-description > p:not(.secondary-text) {
  font-size: 1.5rem;
  font-weight: 510;
  margin-bottom: 10px;
}

.club-description > h2 {
  font-size: 4rem;
  font-weight: 560;
  line-height: 70px;
  margin-bottom: 13px;
}

.club-description p.secondary-text {
  line-height: normal;
}

.benefits-container {
  margin: 60px 0px 33px 0px;
  gap: 30px;
  justify-content: space-between;
  align-items: flex-start !important;
}

.benefit img {
  width: 53px;
  height: 53px;
}

.benefit h3 {
  font-weight: 520;
  margin: 7px 0px;
}

.about-article-container > img {
  max-width: 690px;
  height: 650px;
  object-fit: cover;
  object-position: center center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

/* ------------------- departments part starts here ---------------- */

.dpts-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.dpts-section > div > p {
  margin: 20px 0px 10px 0px;
}

.dpt-container {
  width: 100%;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.dpt {
  list-style: none;
  min-width: 160px;
  min-height: 230px;
  flex: 1;
  border-radius: 15px;
  background-color: var(--third-level-bg);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  gap: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.dpt path {
  fill: var(--highlighted-color);
}

.dpt:hover path {
  fill: var(--text-white);
}

.dpt p,
.dpt .icon {
  z-index: 9;
  transition: 0.2s;
}

.dpt:hover p {
  color: var(--text-white);
}

.dpt::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  z-index: 9;
  left: 0;
  top: 0;
  background: var(--highlighted-color);
  transition: 0.25s;
}

.dpt:hover:before {
  width: 100%;
}

/* ---------- departments part ends here ---------- */

/* ----------- about us section ends here ---------  */

@media screen and (max-width: 1500px) {
  .about-article-container > img {
    max-width: 600px;
    height: 540px;
  }
  .club-description > p:not(.secondary-text) {
    font-size: 1.3rem;
    margin-bottom: 0px;
  }
  .club-description > h2 {
    font-size: 3rem;
    line-height: 50px;
  }

  .club-description p.secondary-text {
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 1400px) {
  .about-article-container > img {
    max-width: 570px;
    height: 580px;
  }
  .club-description > h2 {
    font-size: 2.5rem;
    line-height: 50px;
  }
}

@media screen and (max-width: 1280px) {
  .about-article-container > img {
    max-width: 500px;
    height: 530px;
  }
  .benefits-container {
    margin-top: 35px;
  }
  .benefit img {
    width: 43px;
    height: 43px;
  }
}

@media screen and (max-width: 1200px) {
  .about-article-container > img {
    max-width: 450px;
  }
}

@media screen and (max-width: 1080px) {
  .about-article-container {
    flex-direction: column;
  }
  .club-description h2 {
    font-size: 3rem;
    line-height: 50px;
  }
  .about-article-container > img {
    max-width: 100%;
    width: fit-content;
  }
}

@media screen and (max-width: 960px) {
  .about-article-container {
    flex-direction: column;
  }

  .about-article-container > img {
    max-width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 900px) {
  #about {
    padding: 50px 20px;
  }
}

@media screen and (max-width: 520px) {
  .club-description > h2 {
    font-size: 2.5rem;
  }

  .club-description > p.secondary-text {
    font-size: 0.9rem;
  }

  .benefits-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 450px) {
  .section-heading {
    font-size: 2rem !important;
  }
}
