.preview {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.submission-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}

.poster-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submission-image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 2/1;
  object-fit: cover;
  object-position: center center;
  border-radius: 7px;
  transition: 0.25s;
  cursor: pointer;
}

.poster-container p {
  position: absolute;
  opacity: 0;
  transition: 0.25s;
  color: var(--text-white);
  font-size: 1.2rem;
  font-weight: 500;
  text-align: center;
}

.poster-container:hover img {
  filter: brightness(0.7);
}

.poster-container:hover p {
  opacity: 1;
}

.image-preview-btn {
  border: none;
  outline: none;
  background: transparent;
  color: var(--text-primary);
  font-size: 1.1rem;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.25s;
  text-decoration: underline;
}

.image-preview-btn:hover {
  opacity: 0.5;
}
