main.page-activities {
  width: 100%;
  max-width: var(--max-elements-width);
  margin-top: 150px;
  margin-bottom: 100px;
}

.activities-navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities-navbar h1 {
  font-size: 3rem;
  font-weight: 550;
}

menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.activities-nav-link {
  padding: 0px 20px;
  height: 50px;
  border: none;
  font-size: 1rem;
  font-weight: 450;
  cursor: pointer;
  background-color: var(--primary-bg);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border-radius: 10px;
  transition: 0.25s;
  color: var(--text-black);
}

.activities-nav-link:hover {
  background-color: var(--light-highlighted-color);
  color: var(--highlighted-color);
}

.activities-nav-link.active {
  background-color: var(--highlighted-color);
  color: var(--text-white);
}

.activities-container {
  margin-top: 50px;
  display: flex;
  /* justify-content: space-between; */
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 30px;
}

.activity {
  max-width: 350px;
  height: 520px;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  margin-top: 40px;
  scale: 0.7;
  opacity: 0;
  transition: 0.2s;
}
.activity.shown {
  scale: 1;
  opacity: 1;
}

.activity img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center center;
  border-radius: 10px;
}

.activity article {
  padding: 20px;
}

.activity-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 460;
}

.activity-tag {
  color: var(--highlighted-color);
  display: flex;
  align-items: center;
  gap: 5px;
}

.activity-date {
  color: var(--text-secondary);
}

.activity-name {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 10px 0px;
  font-size: 1.5rem;
  line-height: 30px;
  font-weight: 600;
  color: var(--text-black);
}

.activity-summary {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 0.9rem;
  line-height: 20px;
  margin-bottom: 7px;
  opacity: 0.9;
}

.page-activities .primary-button {
  margin-top: 10px;
  font-size: 1.1rem;
  height: 40px;
  padding: 0px 20px;
}

.activity-actions {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 20px;
}

.page-activities .primary-button i {
  margin-left: 5px;
}

.activity-actions > .secondary-button > i {
  margin-left: 0px;
  margin-right: 5px;
}
.activity-actions > .primary-button.secondary-button::before {
  background-color: var(--black);
}

.activity-actions > .primary-button.secondary-button::after {
  background-color: var(--highlighted-color);
}

.pagination {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination[available="false"] {
  display: none;
}

.pagination-btn,
.page-number {
  width: 40px;
  height: 40px;
  border: none;
  font-size: 20px;
  color: var(--text-black);
  transition: 0.25s;
  cursor: pointer;
  background-color: transparent;
  font-size: 1rem;
}

.pagination-btn:hover,
.page-number:hover {
  background-color: var(--light-highlighted-color);
  color: var(--highlighted-color);
}

.page-number.page-active {
  background-color: var(--highlighted-color);
  color: var(--text-white);
}

.pagination-btn.hidden {
  opacity: 0;
  pointer-events: none;
}

.page-nav-container {
  display: flex;
}

@media screen and (max-width: 1000px) {
  main.page-activities {
    margin-top: 120px;
  }
  .activities-navbar {
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .activities-navbar h1 {
    text-align: center;
  }
  menu {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 360px) {
  .activity {
    height: 100%;
  }
  .activity-actions {
    position: relative;
    flex-direction: column;
    bottom: 0px;
    gap: 5px;
  }
}
