#admin-dashboard {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 275px;
}

.admin-dashboard-container {
  flex-grow: 1;
  height: 100%;
  min-height: 100svh;
  width: 100%;
  max-width: 1600px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: flex-start;
}

.dashboard-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.dashboard-header h1 {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.5rem;
  line-height: 39px;
  text-transform: uppercase;

  color: var(--text-primary);
}

.dashboard-header p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: rgba(0, 0, 0, 0.79);
}

.dashboard-info {
  display: flex;
  gap: 20px;
  align-items: center;
}

.quick-access {
  width: 100%;
  display: flex;
  gap: 20px;
}

.quick-access-card {
  max-width: 310px;
  height: 375px;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);
  border-radius: 14px;
}

.quick-access-card-icon {
  color: var(--highlighted-color);
  font-size: 4rem;
}

.quick-access-card-heading {
  font-weight: 500;
  font-size: 27px;
  line-height: 33px;
  color: var(--text-primary);
  margin-bottom: 7px;
}

.quick-access-card-text {
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.62);
}

.quick-access-card-link {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.1rem;
  width: fit-content;
  height: fit-content;
  position: absolute;
  bottom: 25px;
}

.dashboard-tags-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: wrap;
}

.dashboard-tag {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  flex-grow: 1;
  height: 175px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.23);
  border-radius: 14px;
  padding: 25px;
}

.dashboard-tag > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

.dashboard-tag-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: var(--text-primary);
}

.dashboard-tag-icon {
  color: var(--highlighted-color);
}

.dashboard-tag-value {
  font-weight: 500;
  font-size: 64px;
  line-height: 77px;

  color: var(--highlighted-color);
}

@media screen and (max-width: 1530px) {
  #admin-dashboard {
    margin-left: 0;
    margin-top: 20px;
  }
  .admin-dashboard-container {
    padding: 0px;
    min-height: 0px;
  }
}

@media screen and (max-width: 1240px) {
  .dashboard-info {
    flex-wrap: wrap;
  }
  .quick-access {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .quick-access-card {
    padding: 20px;
    height: 100%;
    gap: 10px;
    max-width: 100%;
  }
  .quick-access-card-link {
    position: relative;
    bottom: 0px;
  }
  .dashboard-tags-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 570px) {
  .dashboard-header {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media screen and (max-width: 550px) {
  .quick-access {
    grid-template-columns: 1fr;
  }
  .dashboard-tags-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 390px) {
  .quick-access-card {
    padding: 20px;
    height: 100%;
    gap: 10px;
  }
  .quick-access-card-link {
    position: relative;
    bottom: 0px;
  }
}
