#profile {
  width: 100%;
  max-width: var(--max-elements-width);
  height: 100%;
  min-height: 100svh;
  padding-top: calc(var(--nav-height) + 1rem);
  margin-bottom: 50px;
}

#profile > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.profile-left-container {
  width: 100%;
  max-width: 380px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.profile-left-container > img {
  width: 100%;
  max-width: 380px;
  aspect-ratio: 1;
}

.about-profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-profile button.primary-button {
  padding: 10px 20px;
  height: fit-content;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.25s;
  border-radius: 5px;
  background-color: var(--highlighted-color);
  color: var(--text-white);
}

.about-profile-header {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: flex-end;
  line-height: 1.1ch;
  font-size: 1.2rem;
  color: #ababab;
  letter-spacing: 1px;
}

.about-profile-header::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #ababab;
  border-radius: 10px;
}

.about-info-header {
  font-size: 0.85rem;
  color: #7d7d7d;
}
.about-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.about-info-key {
  color: var(--text-primary);
  margin-right: 6px;
}

.about-info-value > a {
  color: var(--highlighted-color);
  text-decoration: none;
}

.about-basic-info {
  font-size: 1.6rem;
}

.account-date {
  display: flex;
  align-items: center;
  gap: 10px;
}
.dot {
  width: 7px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--highlighted-color);
}

.profile-right-container {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
}

.user-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* margin-bottom: 30px; */
}

.user-name {
  font-size: 3rem;
  font-weight: 500;
  color: var(--text-primary);
  line-height: 36px;
}

.user-role {
  font-size: 1.25rem;
  color: var(--highlighted-color);
  margin-top: 3px;
}

.user-school-info {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-school-info > span {
  color: var(--highlighted-color);
}

.user-reason {
  font-size: 1.5rem;
}

.user-reason-text {
  font-size: 1rem;
  color: #7d7d7d;
  max-width: 69ch;
}

.profile-actions-container {
  width: 100%;
  margin-top: 30px;
}

.profile-actions {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
}

.profile-actions::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #ababab;
  border-radius: 10px;
  bottom: 0px;
  z-index: -1;
}

.profile-actions > button {
  padding-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: rgb(155, 155, 155);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.25s;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  gap: 10px;
}

.profile-actions > button:hover,
.profile-actions > button.active {
  color: rgb(93, 93, 93);
  border-bottom-color: var(--highlighted-color);
}

.timeline-empty {
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1160px) {
  #profile .combined-inputs {
    flex-direction: column;
    gap: 40px;
  }
}

@media screen and (max-width: 1080px) {
  #profile > div {
    /* flex-direction: column; */
    gap: 30px;
  }
}

@media screen and (max-width: 900px) {
  .user-name {
    line-height: 45px;
  }
}

@media screen and (max-width: 700px) {
  #profile > div {
    flex-direction: column;
    gap: 30px;
  }

  .about-profile button.primary-button {
    width: fit-content;
  }

  .about-profile {
    margin-top: 30px;
  }
}

@media screen and (max-width: 500px) {
  .user-name {
    font-size: 2.5rem;
    line-height: 40px;
  }

  .user-info {
    gap: 5px;
  }

  .user-school-info,
  .user-reason {
    font-size: 1.3rem;
  }
}
