.images-container {
  background-color: var(--secondary-bg);
  max-width: 730px;
  min-width: 600px;
  overflow: hidden;
  border-radius: 16px;
}

.images-container .swiper-slide {
  max-height: var(--image-slider-height);
  position: relative;
  overflow-y: hidden;
}

.images-container .swiper-slide > img {
  width: 100%;
  height: var(--image-slider-height);
  object-fit: cover;
  object-position: center center;
}

@media screen and (max-width: 1650px) {
  .images-container {
    max-width: 650px;
    max-height: var(--image-slider-height);
  }
  .images-container .swiper-slide > img {
    height: var(--image-slider-height);
  }
  .images-container .swiper-slide {
    max-height: var(--image-slider-height);
  }
}

@media screen and (max-width: 1500px) {
  .images-container .swiper-slide {
    max-height: var(--image-slider-height);
  }
  .images-container {
    max-width: 600px;
  }
}

@media screen and (max-width: 1370px) {
  .images-container {
    max-width: 550px;
    min-width: 400px;
  }
}

@media screen and (max-width: 1200px) {
  .images-container {
    min-width: 500px;
  }
}

@media screen and (max-width: 1080px) {
  .images-container {
    background-color: var(--primary-bg);
    width: 100vw;
    max-width: 100vw;
    min-width: 0px;
    height: 100svh;
    min-height: 550px;
    max-height: 800px;
    position: absolute;
    top: 0px;
    z-index: -11;
    left: 0px;
  }
  .images-container > div {
    min-height: 550px;
    max-height: 800px;
  }
  .images-container .swiper-slide {
    max-height: 800px;
  }
  .images-container .swiper-slide > img {
    height: 100svh !important;
    min-height: 550px;
    max-height: 800px;
  }
}

@media screen and (max-width: 450px) {
  .images-container > div {
    max-height: 700px;
  }
  .images-container .swiper-slide > img {
    max-height: 700px;
  }
}
