#about {
  width: 100%;
  max-width: var(--max-elements-width);
  gap: 100px;
  padding: 80px 0px;
}

.about-article-container {
  width: 100%;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  flex-direction: row-reverse;
}

.about-article-container > span > img {
  max-width: 690px;
  height: 650px;
  object-fit: cover;
  object-position: center center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 10px;
}

@media screen and (max-width: 1500px) {
  .about-article-container > span > img {
    max-width: 600px;
    height: 540px;
  }
}

@media screen and (max-width: 1400px) {
  .about-article-container > span > img {
    max-width: 570px;
    height: 580px;
  }
}

@media screen and (max-width: 1280px) {
  .about-article-container > span > img {
    max-width: 500px;
    height: 530px;
  }
}

@media screen and (max-width: 1200px) {
  .about-article-container > span > img {
    max-width: 450px;
  }
}

@media screen and (max-width: 1080px) {
  .about-article-container {
    flex-direction: column;
  }
  .about-article-container > span > img {
    max-width: 100%;
    width: fit-content;
  }
}

@media screen and (max-width: 960px) {
  .about-article-container {
    flex-direction: column;
  }

  .about-article-container > span {
    max-width: 100%;
    height: fit-content !important;
  }
  .about-article-container > span > img {
    height: auto;
  }
}

@media screen and (max-width: 900px) {
  #about {
    padding: 50px 0px;
  }
}

@media screen and (max-width: 450px) {
  .section-heading {
    font-size: 2rem !important;
  }
}
